<!-- NavBar -->
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <!-- Contenido -->
  <div class="navbar-content container-fluid">
      <!-- Titulo de la navbar -->
      <a class="navbar-brand" href="#">Inicio</a>
      <!-- Boton que solo aparece cuando el menu se colapse y se oculta cuando el menu esta  expandido-->
      <button class="navbar-toggler" type="button" data-bs-theme="collapse" data-bs-toggle="collapse" data-bs-target="#navBarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Datos de la navbar -->
      <div class="collapse navbar-collapse" id="navBarCollapse">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link button" routerLink="/category" routerLinkActive="active">Categorias</a>
              </li>
          </ul>
          <form class="d-flex">
              <input class="form-control me-sm-2 custom-search" type="search" placeholder="Buscar">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
      </div>
  </div>    
</nav>

<router-outlet></router-outlet>